#content {
  border: 1px solid darkgrey;
  width: 400px;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

#content p {
  margin: 5px;
}

#username, #content, #message, #sendMessage {
  margin-bottom: 5px;
}
